#Independent Variables
#Requires User to modify
SAMPLE=HG002_No_BC
BARCODE_DONE=No
BARCODE_NUM=
NUM_GUPPY=16
READS_PER_FAST5=10000
GENDER=M
NUM_PMD=14
NUM_SNIFFLES=2
DV=google
ROWS=YES
PB_MODEL_FILE=
BAM_MERGE=NO
BUCKET=
GENE_LIST=${SAMPLE}_genes.txt
EMAIL_UPDATE=NO
EMAIL_REC=
EMAIL_SENDER=

#Derived Variables

FAST5_BUCKET=${BUCKET}/prom
FAST5_STATUS_BUCKET=${BUCKET}/upload_status.txt
GUPPY_MM2_OUTPUT_BUCKET=${BUCKET}/guppy_minimap2_output
GUPPY_MM2_STATUS_BUCKET=${BUCKET}/guppy_minimap2_status
GUPPY_MM2_UPDATES_BUCKET=${BUCKET}/guppy_minimap2_logs
GUPPY_MM2_LOG_BUCKET=gs://ultra_rapid_sequencing_logs/$SAMPLE

CHR_BAM_BUCKET=${BUCKET}/chr_bam
BAM_STATUS_BUCKET=${BUCKET}/bam_status

PMD_VCF_BUCKET=${BUCKET}/pmdv_${DV}_output
PMD_STATUS_BUCKET=${BUCKET}/pmdv_${DV}_status
PMD_LOG_BUCKET=gs://ultra_rapid_pmdv_${DV}_logs/$SAMPLE

SV_VCF_BUCKET=${BUCKET}/sniffles_output
SV_STATUS_BUCKET=${BUCKET}/sniffles_status
SV_LOG_BUCKET=gs://ultra_rapid_sniffles_logs/$SAMPLE
FINAL_OUTPUT_BUCKET=${BUCKET}/final_output

SAMPLE_LOW=$(echo ${SAMPLE} | sed 's/_/-/g' | tr [:upper:] [:lower:])
GUPPY_NAME_LIST=
GUPPY_FC_LIST=
if [ $NUM_GUPPY -eq 1 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW})
	GUPPY_FC_LIST=$(echo "complete")
elif [ $NUM_GUPPY -eq 6 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW}-{1..6})
	GUPPY_FC_LIST=$(echo {1..6})
elif [ $NUM_GUPPY -eq 8 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW}-{a..h})
	GUPPY_FC_LIST=$(echo {A..H})
elif [ $NUM_GUPPY -eq 12 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW}-{1..6}h{1..2})
	GUPPY_FC_LIST=$(echo {1..6}h{1..2})
elif [ $NUM_GUPPY -eq 16 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW}-{a..h}h{1..2})
	GUPPY_FC_LIST=$(echo {A..H}h{1..2})
fi

FC=$(gcloud compute instances describe $(hostname) --zone=$(gcloud compute instances list --filter="name=($(hostname))" --format "value(zone)") --format=value"(metadata[FC])")
email_guppy_mm2_update() {

  if [ $EMAIL_UPDATE == "YES" ]; then
    SUBJECT='guppy-'${FC}' '${SAMPLE}' '$3' Update'
    echo $1 | cat - $2 | sponge $2
    cat $2 | sudo mail -s "$SUBJECT" -aFrom:${EMAIL_SENDER} ${EMAIL_REC}
  fi

}

add_guppy_mm2_update() {
  UPDATE_LINE="[$(TZ='America/Los_Angeles' date +%T)] "$1
  1>&2 echo $UPDATE_LINE
  echo $UPDATE_LINE >> $2
}

email_small_vc_update() {

  if [ $EMAIL_UPDATE == "YES" ]; then
    SUBJECT=$2' '${SAMPLE}' '$3' PEPPER-Margin-DeepVariant Update'
    echo "[$(TZ='America/Los_Angeles' date +%T)] "$1 | sudo mail -s "$SUBJECT" -aFrom:${EMAIL_SENDER} ${EMAIL_REC}
  fi

}

email_struc_vc_update() {

  if [ $EMAIL_UPDATE == "YES" ]; then
    SUBJECT=$2' '${SAMPLE}' '$3' Update'
    echo "[$(TZ='America/Los_Angeles' date +%T)] "$1 | sudo mail -s "$SUBJECT" -aFrom:${EMAIL_SENDER} ${EMAIL_REC}
  fi

}
	
email_annotation_update() {

  if [ $EMAIL_UPDATE == "YES" ]; then
    SUBJECT=${SAMPLE}' Annotation Update'
    echo "[$(TZ='America/Los_Angeles' date +%T)] "$1 | sudo mail -s "$SUBJECT" -aFrom:${EMAIL_SENDER} ${EMAIL_REC}
  fi

}
