#Independent Variables
#Requires User to modify
SAMPLE=HG002_No_BC
BARCODE_DONE=No
BARCODE_NUM=#barcode04
NUM_GUPPY=16
GENDER=M
NUM_PMD=14
NUM_SNIFFLES=2
DV=google
ROWS=YES
BAM_MERGE=NO
EMAIL_UPDATE=NO

#Derived Variables
BUCKET=gs://ultra_rapid_"$(echo ${SAMPLE} | tr [:upper:] [:lower:])"
PUBSUB_TOPIC=${SAMPLE}_topic

FAST5_BUCKET=gs://ultra_rapid_prom_data/prom/$SAMPLE
GUPPY_MM2_OUTPUT_BUCKET=${BUCKET}/guppy_minimap2_output
GUPPY_MM2_STATUS_BUCKET=${BUCKET}/guppy_minimap2_status
CHR_BAM_BUCKET=${BUCKET}/chr_bam
BAM_STATUS_BUCKET=${BUCKET}/bam_status
PMD_VCF_BUCKET=${BUCKET}/pmd_${DV}_output
PMD_STATUS_BUCKET=${BUCKET}/pmd_${DV}_status
SV_VCF_BUCKET=${BUCKET}/sniffles_output
SV_STATUS_BUCKET=${BUCKET}/sniffles_status
CURATION_OUTPUT_BUCKET=gs://ultra_rapid_output/$SAMPLE
FINAL_OUTPUT_BUCKET=${BUCKET}/final_output

#INSTANCE DESCRIPTION
INSTANCE_NAME=$(hostname)
INSTANCE_ZONE=us-west1-a
#$(gcloud compute instances list --filter="name=(${INSTANCE_NAME})" --format "value(zone)")
INSTANCE_STAGE=$(gcloud compute instances describe $INSTANCE_NAME --zone=$INSTANCE_ZONE --format=value"(metadata[STAGE])")

SAMPLE_LOW=$(echo ${SAMPLE} | sed 's/_/-/g' | tr [:upper:] [:lower:])
GUPPY_NAME_LIST=
GUPPY_FC_LIST=
if [ $NUM_GUPPY -eq 1 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW})
	GUPPY_FC_LIST=$(echo "complete")
elif [ $NUM_GUPPY -eq 6 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW}-{1..6})
	GUPPY_FC_LIST=$(echo {1..6})
elif [ $NUM_GUPPY -eq 8 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW}-{a..h})
	GUPPY_FC_LIST=$(echo {A..H})
elif [ $NUM_GUPPY -eq 12 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW}-{1..6}h{1..2})
	GUPPY_FC_LIST=$(echo {1..6}h{1..2})
elif [ $NUM_GUPPY -eq 16 ]; then
	GUPPY_NAME_LIST=$(echo guppy-${SAMPLE_LOW}-{a..h}h{1..2})
	GUPPY_FC_LIST=$(echo {A..H}h{1..2})
fi

if [ "$INSTANCE_STAGE" == "GUPPY_MM2" ]; then
	
	GUPPY_MM2_UPDATES_BUCKET=${BUCKET}/guppy_minimap2_logs
	GUPPY_MM2_LOG_BUCKET=gs://ultra_rapid_sequencing_logs/$SAMPLE
	FC=$(gcloud compute instances describe $INSTANCE_NAME --zone=$INSTANCE_ZONE --format=value"(metadata[FC])")

	email_guppy_mm2_update() {

	  if [ $EMAIL_UPDATE == "YES" ]; then
	    EMAIL_REC=goenkasneha26@gmail.com
	    EMAIL_SENDER=gsnehaj26@gmail.com
	
	    SUBJECT='guppy-'${FC}' '${SAMPLE}' '$3' Update'
	    echo $1 | cat - $2 | sponge $2
	    cat $2 | sudo mail -s "$SUBJECT" -aFrom:${EMAIL_SENDER} ${EMAIL_REC}
	  fi

	}
	
	add_guppy_mm2_update() {
	  UPDATE_LINE="[$(TZ='America/Los_Angeles' date +%T)] "$1
	  1>&2 echo $UPDATE_LINE
	  echo $UPDATE_LINE >> $2
	}
fi

if [ "$INSTANCE_STAGE" == "PMD" ]; then

	PMD_LOG_BUCKET=gs://ultra_rapid_pmd_${DV}_logs/$SAMPLE
	INST_CHR=$(gcloud compute instances describe $INSTANCE_NAME --zone=$INSTANCE_ZONE --format=value"(metadata[CHR])")

	email_vc_update() {

	  if [ $EMAIL_UPDATE == "YES" ]; then
	    EMAIL_REC=goenkasneha26@gmail.com
	    EMAIL_SENDER=gsnehaj26@gmail.com
	
	    SUBJECT=$2' '${SAMPLE}' '$3' PB Update'
	    echo "[$(TZ='America/Los_Angeles' date +%T)] "$1 | sudo mail -s "$SUBJECT" -aFrom:${EMAIL_SENDER} ${EMAIL_REC}
	  fi

	}
fi

if [ "$INSTANCE_STAGE" == "SNIFFLES" ]; then

	SV_LOG_BUCKET=gs://ultra_rapid_sniffles_logs/$SAMPLE
	CHR_CONFIG=$(gcloud compute instances describe $INSTANCE_NAME --zone=$INSTANCE_ZONE --format=value"(metadata[CHR])")
	THREAD_CONFIG=$(gcloud compute instances describe $INSTANCE_NAME --zone=$INSTANCE_ZONE --format=value"(metadata[THREADS])")

	email_vc_update() {

	  if [ $EMAIL_UPDATE == "YES" ]; then
	    EMAIL_REC=goenkasneha26@gmail.com
	    EMAIL_SENDER=gsnehaj26@gmail.com
	
	    SUBJECT=$2' '${SAMPLE}' '$3' Update'
	    echo "[$(TZ='America/Los_Angeles' date +%T)] "$1 | sudo mail -s "$SUBJECT" -aFrom:${EMAIL_SENDER} ${EMAIL_REC}
	  fi

	}
fi

if [ "$INSTANCE_STAGE" == "ANNOTATION" ]; then

	GENE_LIST=${SAMPLE}_genes.txt
	
	email_annotation_update() {
	
	  if [ $EMAIL_UPDATE == "YES" ]; then
	    EMAIL_REC=goenkasneha26@gmail.com
	    EMAIL_SENDER=gsnehaj26@gmail.com
	
	    SUBJECT=${SAMPLE}' Annotation Update'
	    echo "[$(TZ='America/Los_Angeles' date +%T)] "$1 | sudo mail -s "$SUBJECT" -aFrom:${EMAIL_SENDER} ${EMAIL_REC}
	  fi
	
	}
fi
