#### Preparing the output of Guppy and Minimap2 to test PEPPER-Margin-DeepVariant pipeline for a subset of chromosomes for HG002
* Set up the host instance using ./Setting_up_host_instance.md
* Transfer and Create the appropriate directory for testing
```
$PROJECT_DIR/simulation/simulate_merged_bam_output.sh
```
