#### Preparing the output of merged chr-wise BAM to test Sniffles for a subset of chromosomes for HG002
* Set up the host instance using ./Setting_up_host_instance.md
* Transfer and Create the appropriate directory for testing
```
$PROJECT_DIR/simulation/simulate_alignment_output.sh
```
